
body {
  margin: 0;
  padding: 0;
  width: 512px;
}

header {
  background-color: #2563eb;
  padding: 20px;
  width: 512px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover{
  text-decoration: underline;
}

main {
  padding: 20px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#banner {
  width: 100%;
  /* margin-bottom: 20px; */
}

#banner img {
  width: 512px;
  height: auto;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

#gallery figure {
  width:30px;
  background-color: blueviolet;
  /*margin: 0;
  padding: 0;*/
}

#gallery img {
  width:280px;
  height: 230px;
  margin: auto;
}

footer {
  background-color: #01050f;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}